In [1]:
import os
import pandas as pd
import numpy as np

In [15]:
# Load the stores.csv in a pandas dataframe
stores_df=pd.read_csv('Stores.csv',index_col=0)
stores_df.head()

           Store_Area  Items_Available  Daily_Customer_Count  Store_Sales
Store ID
1                1659             1961                   530        66490
2                1461             1752                   210        39820
3                1340             1609                   720        54010
4                1451             1748                   620        53730
5                1770             2111                   450        46620

In [16]:
# Check the data for any null values
stores_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 896 entries, 1 to 896
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Store_Area            896 non-null    int64
 1   Items_Available       896 non-null    int64
 2   Daily_Customer_Count  896 non-null    int64
 3   Store_Sales           896 non-null    int64
dtypes: int64(4)
memory usage: 35.0 KB

In [17]:
# check for duplicated and null values
stores_df.describe()

        Store_Area  Items_Available  Daily_Customer_Count    Store_Sales
count   896.000000       896.000000            896.000000     896.000000
mean   1485.409598      1782.035714            786.350446   59351.305804
std     250.237011       299.872053            265.389281   17190.741895
min     775.000000       932.000000             10.000000   14920.000000
25%    1316.750000      1575.500000            600.000000   46530.000000
50%    1477.000000      1773.500000            780.000000   58605.000000
75%    1653.500000      1982.750000            970.000000   71872.500000
max    2229.000000      2667.000000           1560.000000  116320.000000

In [18]:
stores_df.isnull().sum()

Store_Area              0
Items_Available         0
Daily_Customer_Count    0
Store_Sales             0
dtype: int64

In [19]:
stores_df.duplicated().sum()

0

In [58]:
#LogisticRegression
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [59]:
stores_df-pd.read_csv("Stores.csv",index_col=0)
X = stores_df.drop(labels=['Store_Sales'],axis=1).values 
y = stores_df['Store_Sales']
X_train , X_test , y_train , y_test = train_test_split(X, y ,test_size=0.25, random_state=42)

In [66]:
regressor = linear_model.LogisticRegression(solver='lbfgs', random_state=1)
regressor.fit(X_train, y_train)
#score
score = regressor.score(X_train, y_train)
print('Score: ', score)
print('Accuracy: ' + str(score*100) + '%')
print("MAE",np.sqrt( mean_absolute_error(y_train, regressor.predict(X_train) )))
print("MSE",np.sqrt( mean_squared_error(y_train, regressor.predict(X_train) )))

Score:  0.03273809523809524
Accuracy: 3.273809523809524%
MAE 129.54918398596178
MSE 21090.53274759509

C:\Users\Manan Bhatt\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [61]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(X, y)
y_predicted = clf.predict(X)
score=clf.score(X,y);#testing the deciosion tree model
print('Decision Tree Classifier Model Score:',score)

Decision Tree Classifier Model Score: 1.0

In [64]:
from sklearn.linear_model import SGDClassifier
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier

x = stores_df.iloc[:,0:-1].to_numpy()
y = stores_df.iloc[:,-1].to_numpy()

lg_reg = LinearRegression()
rf_reg = RandomForestRegressor()
gb_reg = GradientBoostingRegressor()


reg_list = [lg_reg,rf_reg,gb_reg]

for reg in reg_list:
        
    reg.fit(x,y)
        
    y_pred = reg.predict(x)
    
    mse = mean_squared_error(y_pred,y)
    rmse = np.sqrt(mean_squared_error(y_pred,y))
    mae = mean_absolute_error(y_pred,y)
    score = reg.score(x,y)
    
    print('Regressor:{}\nMSE:{:.2f}\nRMSE:{:.2f}\nMAE:{:.2f}\nScore:{:.4f}\n\n'.format(str(reg),mse,rmse,mae,score))

Regressor:LinearRegression()
MSE:292048560.59
RMSE:17089.43
MAE:14063.91
Score:0.0106


Regressor:RandomForestRegressor()
MSE:48191432.25
RMSE:6942.00
MAE:5588.10
Score:0.8367


Regressor:GradientBoostingRegressor()
MSE:208692302.86
RMSE:14446.19
MAE:11900.81
Score:0.2930

In [65]:
from sklearn.ensemble import RandomForestRegressor
rf_reg= RandomForestRegressor(random_state=1)
rf_reg.fit(X_train,y_train)
print(f'Random Forest train score: {rf_reg.score(X_train,y_train)}')

Random Forest train score: 0.8383584770612823